In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
import json
import pprint
from bs4 import BeautifulSoup
import requests

In [2]:
################ Source One ###################
## Kaggle #JustDoIt data

#import csv file to pandas
#==============================================

data = pd.read_csv('justdoit_tweets_2018_09_07_2.csv/justdoit_tweets_2018_09_07_2.csv')
#data["tweet_full_text"]
data.head()

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. — Sheryl Sandberg...,NaN,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,NaN,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,NaN,...,50505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,"{'type': 'Point', 'coordinates': [35.85402047,...",...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",NaN,...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False

In [3]:
# Check available variables
#==============================================

list(data)

#Note: 'tweet_' vaiables are tweet related, and 'user_' variables are user related

['tweet_contributors',
 'tweet_coordinates',
 'tweet_created_at',
 'tweet_display_text_range',
 'tweet_entities',
 'tweet_extended_entities',
 'tweet_favorite_count',
 'tweet_favorited',
 'tweet_full_text',
 'tweet_geo',
 'tweet_id',
 'tweet_id_str',
 'tweet_in_reply_to_screen_name',
 'tweet_in_reply_to_status_id',
 'tweet_in_reply_to_status_id_str',
 'tweet_in_reply_to_user_id',
 'tweet_in_reply_to_user_id_str',
 'tweet_is_quote_status',
 'tweet_lang',
 'tweet_metadata',
 'tweet_place',
 'tweet_possibly_sensitive',
 'tweet_quoted_status',
 'tweet_quoted_status_id',
 'tweet_quoted_status_id_str',
 'tweet_retweet_count',
 'tweet_retweeted',
 'tweet_source',
 'tweet_truncated',
 'tweet_user',
 'user_contributors_enabled',
 'user_created_at',
 'user_default_profile',
 'user_default_profile_image',
 'user_description',
 'user_entities',
 'user_favourites_count',
 'user_follow_request_sent',
 'user_followers_count',
 'user_following',
 'user_friends_count',
 'user_geo_enabled',
 'user_has_extended_profile',
 'user_id',
 'user_id_str',
 'user_is_translation_enabled',
 'user_is_translator',
 'user_lang',
 'user_listed_count',
 'user_location',
 'user_name',
 'user_notifications',
 'user_profile_background_color',
 'user_profile_background_image_url',
 'user_profile_background_image_url_https',
 'user_profile_background_tile',
 'user_profile_banner_url',
 'user_profile_image_url',
 'user_profile_image_url_https',
 'user_profile_link_color',
 'user_profile_sidebar_border_color',
 'user_profile_sidebar_fill_color',
 'user_profile_text_color',
 'user_profile_use_background_image',
 'user_protected',
 'user_screen_name',
 'user_statuses_count',
 'user_time_zone',
 'user_translator_type',
 'user_url',
 'user_utc_offset',
 'user_verified']

In [4]:
#Split 'tweet_' and 'user_' data into to datasets
#Keep only variable we need/want
#==============================================

tweet_data = data[[
 'tweet_created_at',
 'tweet_entities',
 'tweet_extended_entities',
 'tweet_favorite_count',
 'tweet_favorited',
 'tweet_full_text',
 'tweet_lang',
 'tweet_metadata',
 'tweet_possibly_sensitive',
 'tweet_retweet_count',
 'tweet_retweeted',
 'tweet_source',
 'tweet_truncated',
 'tweet_user'
 ]]

tweet_data.head()

user_data = data[[
 'user_created_at',
 'user_id',
 'user_lang',
 'user_location',
 'user_screen_name'
]]

user_data.head()

,user_created_at,user_id,user_lang,user_location,user_screen_name
0,Fri May 08 10:27:51 +0000 2015,3.188619e+09,en,"California, USA",UltraYOUwoman
1,Fri Dec 26 09:30:23 +0000 2008,1.838717e+07,en,"Miami, Florida",yungcutup
2,Fri Apr 17 23:04:15 +0000 2009,3.264561e+07,en,"Indianapolis, IN",rachelbogle
3,Sun Aug 08 02:02:56 +0000 2010,1.759327e+08,en,Tennessee by way of New Jersey,ErvGotti609
4,Sat Feb 28 23:13:57 +0000 2009,2.230663e+07,en,Gambleville,NoLuckNeeded

In [5]:
#Convert numeric user_id to string
#==============================================

user_data['user_id2'] = user_data['user_id'].apply(lambda x: '%.f' % x).values.tolist()
user_data = user_data.drop(['user_id'], axis=1)
user_data['user_id'] = user_data['user_id2']
user_data = user_data.drop(['user_id2'], axis=1)

C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [6]:
user_data.head()

,user_created_at,user_lang,user_location,user_screen_name,user_id
0,Fri May 08 10:27:51 +0000 2015,en,"California, USA",UltraYOUwoman,3188618684
1,Fri Dec 26 09:30:23 +0000 2008,en,"Miami, Florida",yungcutup,18387174
2,Fri Apr 17 23:04:15 +0000 2009,en,"Indianapolis, IN",rachelbogle,32645612
3,Sun Aug 08 02:02:56 +0000 2010,en,Tennessee by way of New Jersey,ErvGotti609,175932740
4,Sat Feb 28 23:13:57 +0000 2009,en,Gambleville,NoLuckNeeded,22306628

In [7]:
#Clean user data
#==============================================

#1. Separate date and time
split_datetime = user_data['user_created_at'].str.split()

#2. Create time and create date columns
time_created = []
date_created = []

for x in split_datetime:
    time_created.append(x[3])
    dt = x[1] + ' ' + x[2] + ', ' + x[5]
    date_created.append(parse(dt).date())
    
user_data['acct_create_time'] = time_created
user_data['acct_create_date'] = date_created

#3. Drop user_created_at column
user_data = user_data.drop('user_created_at', axis = 1)

user_data.head()

,user_lang,user_location,user_screen_name,user_id,acct_create_time,acct_create_date
0,en,"California, USA",UltraYOUwoman,3188618684,10:27:51,2015-05-08
1,en,"Miami, Florida",yungcutup,18387174,09:30:23,2008-12-26
2,en,"Indianapolis, IN",rachelbogle,32645612,23:04:15,2009-04-17
3,en,Tennessee by way of New Jersey,ErvGotti609,175932740,02:02:56,2010-08-08
4,en,Gambleville,NoLuckNeeded,22306628,23:13:57,2009-02-28

In [8]:
#Dedupe user_data --> Next in SQL, make user ID a primary key
#==============================================

user_data = user_data.drop_duplicates()
user_data.head()

,user_lang,user_location,user_screen_name,user_id,acct_create_time,acct_create_date
0,en,"California, USA",UltraYOUwoman,3188618684,10:27:51,2015-05-08
1,en,"Miami, Florida",yungcutup,18387174,09:30:23,2008-12-26
2,en,"Indianapolis, IN",rachelbogle,32645612,23:04:15,2009-04-17
3,en,Tennessee by way of New Jersey,ErvGotti609,175932740,02:02:56,2010-08-08
4,en,Gambleville,NoLuckNeeded,22306628,23:13:57,2009-02-28

In [121]:
#Clean tweet data
#==============================================

#1. Separate date and time
split_datetime = tweet_data['tweet_created_at'].str.split()

#2. Tweet time and Tweet date columns
time_created = []
date_created = []

for x in split_datetime:
    time_created.append(x[3])
    dt = x[1] + ' ' + x[2] + ', ' + x[5]
    date_created.append(parse(dt).date())
    
tweet_data['tweet_time'] = time_created
tweet_data['tweet_date'] = date_created

tweet_data.head()

#3. Get tweet user ID
tuser = tweet_data['tweet_user'].str.replace(',', '')
tuser2 = tuser.str.split()
tweet_data['tweet_user_id'] = [x[1] for x in tuser2]

#4. Extract tweet source url
url0 = tweet_data['tweet_source'].str.split()
tweet_data['tweet_source_url']=[x[1].split('"')[1] for x in url0]

#5 Extract #'s by searching for # from tweet_full_text
a = tweet_data['tweet_full_text'].str.split(" ")
f = []
for i in a:
    k = pd.Series(i).str.startswith("#") 
    j = [i for i, x in enumerate(k) if x]
    hashtag = ""
    
    for y in j:
        hashtag = (hashtag + ' | ' + i[y]).strip(' | ')
        
    f.append(hashtag)
tweet_data['hashtags'] = f

C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [119]:
#* Drop unwanted columns
tweet_data_clean = tweet_data[['tweet_time', 'tweet_date', 'tweet_user_id', 'tweet_source_url', 'hashtags', 'tweet_full_text']]
tweet_data_clean.head()

,tweet_time,tweet_date,tweet_user_id,tweet_source_url,hashtags,tweet_full_text
0,16:25:06,2018-09-07,3188618684,https://statusbrew.com,#quote | #motivation | #justdoit,Done is better than perfect. — Sheryl Sandberg...
1,16:24:59,2018-09-07,18387174,http://www.facebook.com/twitter,#fdny | #likesforlikes | #promo | #music | #in...,Shout out to the Great Fire Department and the...
2,16:24:50,2018-09-07,32645612,http://twitter.com/download/iphone,#4YourMorning | #4YourMemeCollection,There are some AMAZINGLY hilarious Nike Ad mem...
3,16:24:44,2018-09-07,175932740,http://instagram.com,#kapernickeffect | #swoosh | #justdoit,#kapernickeffect #swoosh #justdoit @ Lucas Bis...
4,16:24:39,2018-09-07,22306628,http://twitter.com,#shaquem | #NFL | #Seattle | #Seahawks | #grif...,"One Hand, One Dream: The Shaquem Griffin Story..."

In [110]:
############ Source Two #################
## Web scrape http://best-hashtags.com for Most popular instagram justdoit hashtags
url = 'http://best-hashtags.com/hashtag/justdoit/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [111]:
#1. Find all related #'s and create a data frame
top_hashtags = soup.find('div', class_="tag-box tag-box-v3 margin-bottom-40").p1.text
Most_popular_instagram_justdoit_hashtags = pd.DataFrame(top_hashtags.split())
Most_popular_instagram_justdoit_hashtags.columns= ['Hashtags']
Most_popular_instagram_justdoit_hashtags[Most_popular_instagram_justdoit_hashtags['Hashtags'] != '#justdoit']

#2. Drop #justdoit from data frame since Source One is pulled by restrictions to tweets with this #, so when using this 
# dataset later we don't get a 100% match.

              Hashtags
1             #fitness
2                 #gym
3             #workout
4          #motivation
5                #nike
6            #training
7                 #fit
8             #healthy
9                #love
10  #fitnessmotivation
11             #health
12       #bodybuilding
13             #fitfam
14              #goals
15             #fitspo
16   #healthylifestyle
17            #running
18             #active
19              #train
20              #sport
21             #sports
22                #run
23             #getfit
24       #fitnessmodel
25            #gymlife
26          #excercise
27               #best
28          #lifestyle
29              #bhfyp

In [125]:
## convert only column in data from to list
popular_list = Most_popular_instagram_justdoit_hashtags['Hashtags'].values.tolist()

In [132]:
for ht in tweet_data['hashtags']:
    s = pd.Series(ht)
    for i in popular_list:
        if s.str.contains(i):
            popular_hashtag_flag = 1
        else:
            popular_hashtag_flag = 0
        
popular_hashtag_flag

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().