In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse
import json
import pprint
from pandas.io.json import json_normalize

In [2]:
#import csv file to pandas
#==============================================

data = pd.read_csv('justdoit_tweets_2018_09_07_2.csv/justdoit_tweets_2018_09_07_2.csv')
#data["tweet_full_text"]
data.head()

,tweet_contributors,tweet_coordinates,tweet_created_at,tweet_display_text_range,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_geo,...,user_profile_text_color,user_profile_use_background_image,user_protected,user_screen_name,user_statuses_count,user_time_zone,user_translator_type,user_url,user_utc_offset,user_verified
0,NaN,NaN,Fri Sep 07 16:25:06 +0000 2018,"[0, 75]","{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. ‚Äî Sheryl Sandberg...,NaN,...,333333,True,False,UltraYOUwoman,91870.0,NaN,none,https://t.co/jGlJswxjwS,NaN,False
1,NaN,NaN,Fri Sep 07 16:24:59 +0000 2018,"[0, 237]","{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,NaN,...,333333,True,False,yungcutup,618822.0,NaN,none,http://t.co/lVm8vfDbfO,NaN,False
2,NaN,NaN,Fri Sep 07 16:24:50 +0000 2018,"[0, 176]","{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,NaN,...,50505,True,False,rachelbogle,48075.0,NaN,none,https://t.co/g9exqgZp9x,NaN,True
3,NaN,"{'type': 'Point', 'coordinates': [-86.45594032...",Fri Sep 07 16:24:44 +0000 2018,"[0, 88]","{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,"{'type': 'Point', 'coordinates': [35.85402047,...",...,333333,True,False,ErvGotti609,1983.0,NaN,none,NaN,NaN,False
4,NaN,NaN,Fri Sep 07 16:24:39 +0000 2018,"[0, 132]","{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",NaN,...,1A1E1A,True,False,NoLuckNeeded,24989.0,NaN,none,http://t.co/MMGF9RfLz0,NaN,False

In [3]:
# Check available variables
#==============================================

list(data)

#Note: 'tweet_' vaiables are tweet related, and 'user_' variables are user related

['tweet_contributors',
 'tweet_coordinates',
 'tweet_created_at',
 'tweet_display_text_range',
 'tweet_entities',
 'tweet_extended_entities',
 'tweet_favorite_count',
 'tweet_favorited',
 'tweet_full_text',
 'tweet_geo',
 'tweet_id',
 'tweet_id_str',
 'tweet_in_reply_to_screen_name',
 'tweet_in_reply_to_status_id',
 'tweet_in_reply_to_status_id_str',
 'tweet_in_reply_to_user_id',
 'tweet_in_reply_to_user_id_str',
 'tweet_is_quote_status',
 'tweet_lang',
 'tweet_metadata',
 'tweet_place',
 'tweet_possibly_sensitive',
 'tweet_quoted_status',
 'tweet_quoted_status_id',
 'tweet_quoted_status_id_str',
 'tweet_retweet_count',
 'tweet_retweeted',
 'tweet_source',
 'tweet_truncated',
 'tweet_user',
 'user_contributors_enabled',
 'user_created_at',
 'user_default_profile',
 'user_default_profile_image',
 'user_description',
 'user_entities',
 'user_favourites_count',
 'user_follow_request_sent',
 'user_followers_count',
 'user_following',
 'user_friends_count',
 'user_geo_enabled',
 'user_has_extended_profile',
 'user_id',
 'user_id_str',
 'user_is_translation_enabled',
 'user_is_translator',
 'user_lang',
 'user_listed_count',
 'user_location',
 'user_name',
 'user_notifications',
 'user_profile_background_color',
 'user_profile_background_image_url',
 'user_profile_background_image_url_https',
 'user_profile_background_tile',
 'user_profile_banner_url',
 'user_profile_image_url',
 'user_profile_image_url_https',
 'user_profile_link_color',
 'user_profile_sidebar_border_color',
 'user_profile_sidebar_fill_color',
 'user_profile_text_color',
 'user_profile_use_background_image',
 'user_protected',
 'user_screen_name',
 'user_statuses_count',
 'user_time_zone',
 'user_translator_type',
 'user_url',
 'user_utc_offset',
 'user_verified']

In [4]:
#Split 'tweet_' and 'user_' data into to datasets
#Keep only variable we need/want
#==============================================

tweet_data = data[[
 'tweet_created_at',
 'tweet_entities',
 'tweet_extended_entities',
 'tweet_favorite_count',
 'tweet_favorited',
 'tweet_full_text',
 'tweet_lang',
 'tweet_metadata',
 'tweet_possibly_sensitive',
 'tweet_retweet_count',
 'tweet_retweeted',
 'tweet_source',
 'tweet_truncated',
 'tweet_user'
 ]]

tweet_data.head()

user_data = data[[
 'user_created_at',
 'user_id',
 'user_lang',
 'user_location',
 'user_screen_name'
]]

user_data.head()

,user_created_at,user_id,user_lang,user_location,user_screen_name
0,Fri May 08 10:27:51 +0000 2015,3.188619e+09,en,"California, USA",UltraYOUwoman
1,Fri Dec 26 09:30:23 +0000 2008,1.838717e+07,en,"Miami, Florida",yungcutup
2,Fri Apr 17 23:04:15 +0000 2009,3.264561e+07,en,"Indianapolis, IN",rachelbogle
3,Sun Aug 08 02:02:56 +0000 2010,1.759327e+08,en,Tennessee by way of New Jersey,ErvGotti609
4,Sat Feb 28 23:13:57 +0000 2009,2.230663e+07,en,Gambleville,NoLuckNeeded

In [5]:
#Convert numeric user_id to string
#==============================================

user_data['user_id2'] = user_data['user_id'].apply(lambda x: '%.f' % x).values.tolist()
user_data = user_data.drop(['user_id'], axis=1)
user_data['user_id'] = user_data['user_id2']
user_data = user_data.drop(['user_id2'], axis=1)

C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [6]:
user_data.head()

,user_created_at,user_lang,user_location,user_screen_name,user_id
0,Fri May 08 10:27:51 +0000 2015,en,"California, USA",UltraYOUwoman,3188618684
1,Fri Dec 26 09:30:23 +0000 2008,en,"Miami, Florida",yungcutup,18387174
2,Fri Apr 17 23:04:15 +0000 2009,en,"Indianapolis, IN",rachelbogle,32645612
3,Sun Aug 08 02:02:56 +0000 2010,en,Tennessee by way of New Jersey,ErvGotti609,175932740
4,Sat Feb 28 23:13:57 +0000 2009,en,Gambleville,NoLuckNeeded,22306628

In [7]:
#Clean user data
#==============================================

#1. Separate date and time
split_datetime = user_data['user_created_at'].str.split()

#2. Create time and create date columns
time_created = []
date_created = []

for x in split_datetime:
    time_created.append(x[3])
    dt = x[1] + ' ' + x[2] + ', ' + x[5]
    date_created.append(parse(dt).date())
    
user_data['acct_create_time'] = time_created
user_data['acct_create_date'] = date_created

#3. Drop user_created_at column
user_data = user_data.drop('user_created_at', axis = 1)

user_data.head()

,user_lang,user_location,user_screen_name,user_id,acct_create_time,acct_create_date
0,en,"California, USA",UltraYOUwoman,3188618684,10:27:51,2015-05-08
1,en,"Miami, Florida",yungcutup,18387174,09:30:23,2008-12-26
2,en,"Indianapolis, IN",rachelbogle,32645612,23:04:15,2009-04-17
3,en,Tennessee by way of New Jersey,ErvGotti609,175932740,02:02:56,2010-08-08
4,en,Gambleville,NoLuckNeeded,22306628,23:13:57,2009-02-28

In [8]:
#Dedupe user_data --> Next in SQL, make user ID a primary key
#==============================================

user_data = user_data.drop_duplicates()
user_data.head()

,user_lang,user_location,user_screen_name,user_id,acct_create_time,acct_create_date
0,en,"California, USA",UltraYOUwoman,3188618684,10:27:51,2015-05-08
1,en,"Miami, Florida",yungcutup,18387174,09:30:23,2008-12-26
2,en,"Indianapolis, IN",rachelbogle,32645612,23:04:15,2009-04-17
3,en,Tennessee by way of New Jersey,ErvGotti609,175932740,02:02:56,2010-08-08
4,en,Gambleville,NoLuckNeeded,22306628,23:13:57,2009-02-28

In [9]:
#Clean tweet data
#==============================================

#1. Separate date and time
split_datetime = tweet_data['tweet_created_at'].str.split()

#2. Tweet time and Tweet date columns
time_created = []
date_created = []

for x in split_datetime:
    time_created.append(x[3])
    dt = x[1] + ' ' + x[2] + ', ' + x[5]
    date_created.append(parse(dt).date())
    
tweet_data['tweet_time'] = time_created
tweet_data['tweet_date'] = date_created

tweet_data.head()

#3. Get tweet user ID
tuser = tweet_data['tweet_user'].str.replace(',', '')
tuser2 = tuser.str.split()
tweet_data['tweet_user_id'] = [x[1] for x in tuser2]

#4. Extract tweet source url
url0 = tweet_data['tweet_source'].str.split()
tweet_data['tweet_source_url']=[x[1].split('"')[1] for x in url0]


#* Drop unwanted columns
#tweet_data.drop(['tweet_user','tweet_created_at','tweet_source'], axis=1)
tweet_data.head()

C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\shuashua\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,tweet_created_at,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_lang,tweet_metadata,tweet_possibly_sensitive,tweet_retweet_count,tweet_retweeted,tweet_source,tweet_truncated,tweet_user,tweet_time,tweet_date,tweet_user_id,tweet_source_url
0,Fri Sep 07 16:25:06 +0000 2018,"{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. ‚Äî Sheryl Sandberg...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""https://statusbrew.com"" rel=""nofollow...",False,"{'id': 3188618684, 'id_str': '3188618684', 'na...",16:25:06,2018-09-07,3188618684,https://statusbrew.com
1,Fri Sep 07 16:24:59 +0000 2018,"{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://www.facebook.com/twitter"" rel=...",False,"{'id': 18387174, 'id_str': '18387174', 'name':...",16:24:59,2018-09-07,18387174,http://www.facebook.com/twitter
2,Fri Sep 07 16:24:50 +0000 2018,"{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 32645612, 'id_str': '32645612', 'name':...",16:24:50,2018-09-07,32645612,http://twitter.com/download/iphone
3,Fri Sep 07 16:24:44 +0000 2018,"{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",False,"{'id': 175932740, 'id_str': '175932740', 'name...",16:24:44,2018-09-07,175932740,http://instagram.com
4,Fri Sep 07 16:24:39 +0000 2018,"{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,"{'id': 22306628, 'id_str': '22306628', 'name':...",16:24:39,2018-09-07,22306628,http://twitter.com

In [34]:
d = tweet_data['tweet_entities'][0]
print(d)
#a = json_normalize(d, 'hashtags')
#a

#j1 = toJSON(tweet_data["tweet_entities"][0])

k = tweet_data["tweet_entities"].to_json(orient='table')

{'hashtags': [{'text': 'quote', 'indices': [47, 53]}, {'text': 'motivation', 'indices': [54, 65]}, {'text': 'justdoit', 'indices': [66, 75]}], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 1038100853872197632, 'id_str': '1038100853872197632', 'indices': [76, 99], 'media_url': 'http://pbs.twimg.com/media/DmgTOfwVAAAJqoh.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DmgTOfwVAAAJqoh.jpg', 'url': 'https://t.co/J9lLdszdW6', 'display_url': 'pic.twitter.com/J9lLdszdW6', 'expanded_url': 'https://twitter.com/UltraYOUwoman/status/1038100857932394496/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 612, 'h': 612, 'resize': 'fit'}, 'large': {'w': 612, 'h': 612, 'resize': 'fit'}, 'medium': {'w': 612, 'h': 612, 'resize': 'fit'}}}]}

':'

In [11]:
tweet_data['tweet_full_text'][1]

'Shout out to the Great Fire Department and the tour! üë®\u200düöíüë®\u200düöí Much love to NYC! üíØüé•üî•‚úäüèø\n‚Ä¢\n‚Ä¢\n‚Ä¢\n#hero #fdny #likesforlikes #promo #music #instagood #instadaily #postoftheday #bestoftheday #justdoit #nike #picoftheday... https://t.co/sFobQ2ukpo'

In [35]:
tweet_data.head()

,tweet_created_at,tweet_entities,tweet_extended_entities,tweet_favorite_count,tweet_favorited,tweet_full_text,tweet_lang,tweet_metadata,tweet_possibly_sensitive,tweet_retweet_count,tweet_retweeted,tweet_source,tweet_truncated,tweet_user,tweet_time,tweet_date,tweet_user_id,tweet_source_url
0,Fri Sep 07 16:25:06 +0000 2018,"{'hashtags': [{'text': 'quote', 'indices': [47...","{'media': [{'id': 1038100853872197632, 'id_str...",0,False,Done is better than perfect. ‚Äî Sheryl Sandberg...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""https://statusbrew.com"" rel=""nofollow...",False,"{'id': 3188618684, 'id_str': '3188618684', 'na...",16:25:06,2018-09-07,3188618684,https://statusbrew.com
1,Fri Sep 07 16:24:59 +0000 2018,"{'hashtags': [{'text': 'hero', 'indices': [90,...",NaN,0,False,Shout out to the Great Fire Department and the...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://www.facebook.com/twitter"" rel=...",False,"{'id': 18387174, 'id_str': '18387174', 'name':...",16:24:59,2018-09-07,18387174,http://www.facebook.com/twitter
2,Fri Sep 07 16:24:50 +0000 2018,"{'hashtags': [{'text': 'JustDoIt', 'indices': ...","{'media': [{'id': 1038100773396041728, 'id_str...",0,False,There are some AMAZINGLY hilarious Nike Ad mem...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 32645612, 'id_str': '32645612', 'name':...",16:24:50,2018-09-07,32645612,http://twitter.com/download/iphone
3,Fri Sep 07 16:24:44 +0000 2018,"{'hashtags': [{'text': 'kapernickeffect', 'ind...",NaN,0,False,#kapernickeffect #swoosh #justdoit @ Lucas Bis...,en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",False,"{'id': 175932740, 'id_str': '175932740', 'name...",16:24:44,2018-09-07,175932740,http://instagram.com
4,Fri Sep 07 16:24:39 +0000 2018,"{'hashtags': [{'text': 'shaquem', 'indices': [...","{'media': [{'id': 1038100736595255296, 'id_str...",0,False,"One Hand, One Dream: The Shaquem Griffin Story...",en,"{'iso_language_code': 'en', 'result_type': 're...",False,0,False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",False,"{'id': 22306628, 'id_str': '22306628', 'name':...",16:24:39,2018-09-07,22306628,http://twitter.com

In [13]:
tweet_data['tweet_entities'][0]

"{'hashtags': [{'text': 'quote', 'indices': [47, 53]}, {'text': 'motivation', 'indices': [54, 65]}, {'text': 'justdoit', 'indices': [66, 75]}], 'symbols': [], 'user_mentions': [], 'urls': [], 'media': [{'id': 1038100853872197632, 'id_str': '1038100853872197632', 'indices': [76, 99], 'media_url': 'http://pbs.twimg.com/media/DmgTOfwVAAAJqoh.jpg', 'media_url_https': 'https://pbs.twimg.com/media/DmgTOfwVAAAJqoh.jpg', 'url': 'https://t.co/J9lLdszdW6', 'display_url': 'pic.twitter.com/J9lLdszdW6', 'expanded_url': 'https://twitter.com/UltraYOUwoman/status/1038100857932394496/photo/1', 'type': 'photo', 'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'small': {'w': 612, 'h': 612, 'resize': 'fit'}, 'large': {'w': 612, 'h': 612, 'resize': 'fit'}, 'medium': {'w': 612, 'h': 612, 'resize': 'fit'}}}]}"